<!DOCTYPE html>
<html lang="en">
<body>
<div class="container my-5">
    <h1 class="text-center mb-4">Software Development Projects</h1>
    <div class="table-responsive">
        <table id="projectsTable" class="table table-bordered table-striped table-hover align-middle">
            <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Customer</th>
                <th>Customer Stakeholder</th>
                <th>Business Case</th>
                <th>Tech</th>
                <th>Team</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% if site.data.projects %}
            {% for project in site.data.projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.customer }}</td>
                <td>{{ project.customer-stakeholder }}</td>
                <td>{{ project.business-case }}</td>
                <td>
                        {% for technology in project.technologies %}
                        {{ technology }},
                        {% endfor %}
                </td>
                <td>
                    {% for member in project.team %}
                    {{ member }},
                    {% endfor %}
                </td>
                <td>{{ project.notes }}</td>
            </tr>
            {% endfor %}
            {% else %}
            {% for project in site.data.default-projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.customer }}</td>
                <td>{{ project.customer-stakeholder }}</td>
                <td>{{ project.business-case }}</td>
                <td>
                    {% for technology in project.technologies %}
                    {{ technology }},
                    {% endfor %}
                </td>
                <td>
                    {% for member in project.team %}
                    {{ member }},
                    {% endfor %}
                </td>
                <td>{{ project.notes }}</td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>



<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/jquery-3.7.1.min"></script>
<script src="/assets/datatables/datatables.js"></script>


<script>
    // Initialize DataTable on the #projectsTable element
    $(document).ready(function () {
        $('#projectsTable').DataTable({
            "searching": true,  // Enable the search/filter box
            "autoWidth": false,  // Disable auto column width adjustment
            "colReorder": true,
            "fixedColumns": true,
            "fixedHeader": true,
            "pageLength": 100
        });
    });
</script>


</body>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Development Projects</title>

    <!-- Bootstrap CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Datatables -->
    <link href="/assets/datatables/datatables.css" rel="stylesheet">
</head>


</html>
